.App {
  text-align: center;
  background-color: #ffff;
  align-items: center;
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 0;
  text-align: center;
}
.header {
  background-color: #30336b;
  padding: 14px;
  color: #ffff;
  width: 100%;
  display: flex;

  align-items: center;
}
.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.header {
  margin-left: auto;
}
